/*
cool colors
teal    #1b88c6
maroon  #561930
*/

header .name {
    margin: 2rem 10rem 0 10rem;
    border-bottom: solid lightgrey 1px;
}

header .name h1 {
    font-size: 2.2rem;
    text-align: center;
    font-family: 'Megrim', cursive;
    letter-spacing: 1.5rem;
    margin: 1rem auto .5rem auto;
}

header .name h1 a,
header .name h1 a:visited {
    text-decoration: none;
    color: #561930;
}

/* ----- thin header for all pages except landing/home ----- */
header.thin {
    display: flex;
}

header.thin .name {
    margin: 0;
    border: none;
}

header.thin h1 {
    text-align: left;
    margin: .5rem 1rem;
    font-size: 1.7rem;
    letter-spacing: 1rem;
}

header.thin nav ul {
    margin-top: 1rem;
}

/* ----- navigation ----- */
nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    padding: 0 2rem;
    display: inline;
    font-family: 'Ubuntu Mono', monospace;
}

nav ul li a {
    color: #350618;
    transition:color .2s linear;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
}

nav ul li a:hover {
    color: #1b88c6;
    transition:color .2s linear;
}

/*--------------------- MEDIA QUERIES ---------------------*/
/* for changing window size */
/* GO FULL WIDTH AT LESS THAN 800 PIXELS */
@media only screen and (max-width: 800px) {
    header .name,
    header.thin .name {
        margin: 0.5rem;
        border-bottom: solid lightgrey 1px;
    }
    header .name h1,
    header.thin .name h1 {
        font-size: 1.5rem;
        text-align: center;
        letter-spacing: 1rem;
        margin: .5rem 1rem;
    }
    header.thin {
        display: block;
    }
    nav ul li {
         padding: 0 .5rem;
    }
}